body {
	background-color:#666699;
	margin-left:10%;
	margin-right:10%;
	font-family:Georgia;
}

 button { 
    font-size: 350%;
    background-color: #7f95a6;
    color: white;
    box-shadow: 4px 4px 4px 4px #000000;
	border-radius:25px;
	padding:25px;
	font-family:Georgia;
	margin-left:25%;
	margin-right: 25%;
	margin-top:25%;
	
}
button:hover, button:focus, button:active { 
    color: white;
    background-color: #657784;
    cursor: pointer;
}

#clock {
	background-color: #7f95a6;
	color: white;
	position:fixed;
	top:193px;
	left:0;
	right:0;
	text-align: center;
	font-family: Georgia;
	font-size: 200%;
	padding-bottom:5px;
	display: none;
}

#clockButton { 
    font-size: 200%;
    background-color: #7f95a6;
    color: white;
    box-shadow: 4px 4px 4px 4px #000000;
	border-radius:25px;
	padding:10px;
	font-family:Georgia;
	width:33%;
	margin-left:33%;
	margin-right:33%;
	
}
#clockButton:hover, #clockButton:focus, #clockButton:active { 
    color: white;
    background-color: #657784;
    cursor: pointer;
}

.banner {
	position:fixed;
	top:0;
	left:0;
	right:0;
}

#webportfolio {
	text-align:center;
	font-size:400%;
	background-color:#7f95a6;
	color: white;
	line-height:1;
	position:fixed;
	top:0;
	left:0;
	right:0;
	padding-top:1%;
	padding-bottom:1%;
}

#pagetitle {
	font-size:80%;
}

#info {
	background-color:#b6c3ce;
	color:black;
	margin-top:0;
	line-height:2;
	font-size:150%;
	text-align:center;
	position:fixed;
	top:145px;
	left:0;
	right:0;
	border-bottom:8px solid #7f95a6;
}
	
.navbar {
    list-style-type: none;
    margin: 0;
	margin-top:220px;
    padding: 0;
    overflow: hidden;
	font-size:150%;
}

#lefttab {
	border-radius:25px 0px 0px 0px;
	width:102%;
}

#righttab {
	border-radius:0px 25px 0px 0px;
	width:102%;
}

li {
    float:left;
	text-align:center;
	width:14%;
}

li a {
    display: block;
    padding: 11px;
    background-color: #7f95a6;
	color:white;
	text-decoration:none;
}

li a:hover {
	background-color:#728695;
	transition-duration:.2s;
}

.active {
	background-color:#728695;
}
.main {
	background-color:#f5f5f5;
	margin-top:0;
	border-radius:0px 0px 25px 25px;
	padding:3%;
}

.modules {
	margin-left:22%;
	margin-right:22%;
	font-size:120%;
	width:300%;
	list-style-type:none;
	line-height:1.4;
}

.submodules {
	width:3000%;
	list-style-type:none;
}

.mod {
	float:none;
	text-align:left;
}

.heading {
	background-color:#7f95a6;
	color:white;
	text-align:center;
	font-size:250%;
	border-radius:15px;
	margin-left:20%;
	margin-right:20%;
	margin-top:2%;
}

.head {
	line-height:.3;
	padding-top:3%;
}

.overview {
	color:white;
	line-height:1.1;
	font-size:60%;
	padding-left:10%;
	padding-right:10%;
	padding-bottom:1%;
}

.unit {
	background-color:#b6c3ce;
	border-radius:15px;
	font-size:140%;
	margin-left:22%;
	margin-right:22%;
	line-height:1.5;
	padding:1%;
	text-align:center;
}

.reflection {
	margin-left:27%;
	margin-right:27%;
	line-height:1.4;
	font-size:120%;
}

.temp {
	margin-left:22%;
	margin-right:22%;
	line-height:1.4;
	font-size:120%;
	color:blue;
	font-style:italic;
}

table {
	text-align:center;
	margin-left:25%;
	margin-right:25%;
	margin-top:1%;
}


.lefthead {
	background-color:#7f95a6;
	color:white;
	border-radius:5px 0px 0px 0px;
	padding:2%;
	width:40%;
	font-size:150%;
}

.righthead {
	background-color:#7f95a6;
	color:white;
	border-radius:0px 5px 0px 0px;
	padding:2%;
	width:40%;
	font-size:150%;
}

td {
	background-color:#b6c3ce;
	padding:2%;
	width:40%;
	font-size:130%;
}

.bottomleft {
	background-color:#b6c3ce;
	padding:1%;
	border-radius:0px 0px 0px 5px;
	width:40%;
}

.bottomright {
	background-color:#b6c3ce;
	padding:1%;
	border-radius:0px 0px 5px 0px;
	width:40%;
}

.album {
	margin-left:20%;
}